.calculator {
    height: 320px;
    width: 220px;
    padding: 7px;
    padding-bottom: 13px;
    background-color: #0004;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px ;
}